* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: 'JetBrains';
  src: url('../shared/assets/fonts/JetBrains-Mono/JetBrainsMono-Medium.woff2') format('woff2'),
   url('../shared/assets/fonts/JetBrains-Mono/JetBrainsMono-Medium.woff') format('woff'),
   url('../shared/assets/fonts/JetBrains-Mono/JetBrainsMono-Medium.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'JetBrains';
  src: url('../shared/assets/fonts/JetBrains-Mono/JetBrainsMono-SemiBold.woff2') format('woff2'),
   url('../shared/assets/fonts/JetBrains-Mono/JetBrainsMono-SemiBold.woff') format('woff'),
   url('../shared/assets/fonts/JetBrains-Mono/JetBrainsMono-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'JetBrains';
  src: url('../shared/assets/fonts/JetBrains-Mono/JetBrainsMono-Bold.woff2') format('woff2'),
   url('../shared/assets/fonts/JetBrains-Mono/JetBrainsMono-Bold.woff') format('woff'),
   url('../shared/assets/fonts/JetBrains-Mono/JetBrainsMono-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Noto-Serif-Georgian';
  src: url('../shared/assets/fonts/NotoSerifGeorgian/NotoSerifGeorgian-Medium.woff2') format('woff2'),
   url('../shared/assets/fonts/NotoSerifGeorgian/NotoSerifGeorgian-Medium.woff') format('woff'),
   url('../shared/assets/fonts/NotoSerifGeorgian/NotoSerifGeorgian-Medium.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Noto-Serif-Georgian';
  src: url('../shared/assets/fonts/NotoSerifGeorgian/NotoSerifGeorgian-SemiBold.woff2') format('woff2'),
   url('../shared/assets/fonts/NotoSerifGeorgian/NotoSerifGeorgian-SemiBold.woff') format('woff'),
   url('../shared/assets/fonts/NotoSerifGeorgian/NotoSerifGeorgian-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Noto-Serif-Georgian';
  src: url('../shared/assets/fonts/NotoSerifGeorgian/NotoSerifGeorgian-Bold.woff2') format('woff2'),
   url('../shared/assets/fonts/NotoSerifGeorgian/NotoSerifGeorgian-Bold.woff') format('woff'),
   url('../shared/assets/fonts/NotoSerifGeorgian/NotoSerifGeorgian-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Manrope';
  src: url('../shared/assets/fonts/Manrope/Manrope-Medium.woff2') format('woff2'),
   url('../shared/assets/fonts/Manrope/Manrope-Medium.woff') format('woff'),
   url('../shared/assets/fonts/Manrope/Manrope-Medium.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Manrope';
  src: url('../shared/assets/fonts/Manrope/Manrope-SemiBold.woff2') format('woff2'),
   url('../shared/assets/fonts/Manrope/Manrope-SemiBold.woff') format('woff'),
   url('../shared/assets/fonts/Manrope/Manrope-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Manrope';
  src: url('../shared/assets/fonts/Manrope/Manrope-Bold.woff2') format('woff2'),
   url('../shared/assets/fonts/Manrope/Manrope-Bold.woff') format('woff'),
   url('../shared/assets/fonts/Manrope/Manrope-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

:root {
    --red: #F87070;
    --blue: #6FF3F8;
    --light-purple: #D981F9;
    --dark-purple: #151932;
    --purple: #1E2140;
    --white: #DAE1FF;
    --grey: #7E82A1;
}

body {
  margin: 0;
  min-width: 303px;
  min-height: 100vh;
  color: var(--white);
  background: var(--purple);
}



#root {
  width: 55%;
  margin: 0 auto;
}





