* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: 'Manrope';
  src: url('../shared/assets/fonts/Manrope-Medium.woff2') format('woff2'),
   url('../shared/assets/fonts/Manrope-Medium.woff') format('woff'),
   url('../shared/assets/fonts/Manrope-Medium.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Manrope';
  src: url('../shared/assets/fonts/Manrope-SemiBold.woff2') format('woff2'),
   url('../shared/assets/fonts/Manrope-SemiBold.woff') format('woff'),
   url('../shared/assets/fonts/Manrope-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Manrope';
  src: url('../shared/assets/fonts/Manrope-Bold.woff2') format('woff2'),
   url('../shared/assets/fonts/Manrope-Bold.woff') format('woff'),
   url('../shared/assets/fonts/Manrope-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

:root {
    --red: #F87070;
    --blue: #6FF3F8;
    --light-purple: #D981F9;
    --dark-purple: #151932;
    --purple: #1E2140;
}

body {
  margin: 0;
  min-width: 303px;
  min-height: 100vh;
  color: white;
  background: var(--purple);
}

#root {
  width: 55%;
  margin: 0 auto;
}





