.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.btn {
    border: none;
    background: transparent;
    color: inherit;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: .3em;
    text-align: center;
    padding-left: 15px;
}

.time {
    font-size: 80px;
    text-align: center;
    line-height: 1em;
    margin-bottom: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ring {
    padding: 15px;
    border-radius: 100%;
    background: var(--dark-purple);
}

.gradient {
    padding: 25px;
    border-radius: 100%;
    background: linear-gradient(136deg, var(--dark-purple) 30%, #292D52);
}


.bar {
    width: 360px;
    height: 360px;
}


@media(max-width: 575px) {
    .gradient {
        width: 290px;
        height: 290px;
        padding: 22px;
    }
    .ring {
        padding: 10px;
    }
    .time {
        font-size: 50px;
        margin-bottom: 0;
    }
    .btn {
        font-size: 32px;
    }
}